
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 0.2;
}


.list-view .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: #c3e6ff;
    -fx-border-color: #005A9C;
    -fx-border-width: 0 0 0 4;
}

.list-view .list-cell:odd {
    -fx-background-color: transparent;
}

.list-view .list-cell:even {
    -fx-background-color: transparent;
}


.flat-button {
    -fx-background-color: transparent;
}

.flat-button:hover {
    -fx-background-color: #dddad6;
}

.conn-msg {
    text-area-background: blue ;
}

.conn-msg .content {
    -fx-background-color: text-area-background ;
}

.msg-container {
    -fx-background-color: #dddad6;
    -fx-background-radius: 10px;
}

.conn-msg-info {
    -fx-background-insets: 0;
    -fx-background-color: #dddad6, #dddad6, #dddad6, #dddad6;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    text-area-background: transparent;
}

.conn-msg-info .scroll-bar:horizontal {
    -fx-scale-y: 0;
}

.conn-msg-info .scroll-bar:vertical {
    -fx-scale-x: 0.0;
}

.conn-msg-info .scroll-pane {
    -fx-background-color: transparent;
}
.conn-msg-info .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.conn-msg-info .scroll-pane .content{
    -fx-background-color: transparent;
}

.conn-msg-info .content {
    -fx-background-color: #dddad6, #dddad6, #dddad6, #dddad6;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}


.sidebar,
.sidebar-list {
    -fx-background-color: #f2f2f2;
}

.sidebar-list .scroll-bar:horizontal {
    -fx-scale-y: 0;
}

.sidebar-list .scroll-bar:vertical {
    -fx-scale-x: 0.0;
}
/*
.sidebar-list:hover .scroll-bar:vertical {
    -fx-scale-x: 0.7;
}*/

.sidebar-list-item {
    -fx-text-fill: #000;
}

.sidebar-list-item-pill {
    -fx-text-fill: #000;
}

.data-pill {
    -fx-background-color: #dddad6;
    -fx-background-radius: 50px;
    -fx-padding: 2, 0, 2, 0;
}