.keyword {
    -fx-fill: rgb(60, 122, 216);
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: rgb(60, 122, 216);
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: rgb(60, 122, 216);
    -fx-font-weight: bold;
}

.strongaccent {
    -fx-fill: #f4111a
}

.string-single-quote {
    -fx-fill: #f6888c;
}

.string-double-qoute {
    -fx-fill: #ff575d;
}


.comment {
	-fx-fill: rgb(150, 146, 146);
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
